.noob {
    background-color: black;
   
}
div h1 {
    color: white;
}

.right  {
    height: 100%;
}

.left {
   
    background-color: #000000;
    height: 90vh;

}
.right {
 color: black;
}

 
.accordion {
    color: white;
    
    background-color: #000000;
}
.accordion-body,.accordion-item,.accordion-body strong,.accordion-button ,.accordion-button:not(.collapsed)  {
    color: white;
    
    background-color: #000000;
}
.img-responsive{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
    .left , .right {
      height: 40vh;
    }
  
  }
  

  .inpdate{
      justify-content: center;
      align-items: center;
      color: black;
    width: 100%;
      /* background-color: #8F00FF; */
  }

  .inplabel{
      color:black;
      font-size: large;
      font-weight: 300;
  }


.accordion-body input {
      margin: 3px;
  }

  .centerall{
      /* margin: 0px 10%; */
  }

  #palnetbtn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      width: 100%     
  }
  form{
      /* display: flex; */
      width: 100%;
  }

  @media only screen and (max-width: 400px) { 
    #palnetbtn{
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-left: 0px;
    }
  
  }


 .mainj{
     font-size: 30px;
     font-weight: 400;
     margin-bottom: 10px;
 } 

 input{
    height: 43px;
    padding: 10px;
}
 

.accordion-button{
    
}
.left{
    display: flex;
    justify-content: center;
    align-items:center;
}
.imagebox{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}
.imagebox img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    border-radius: 20px;
    border: 5px solid ;
    border-color: black
    
}
@media only screen and (max-width: 400px) { 
    .imagebox img{
        margin: 0px;
    }
 }
 .right{
    /* overflow-y: scroll; */
 }