.noob {
    background-color: white;
   
}
div h1 {
    color: black;
}

.right .left {
    height: 100vh;
}

.left {
    background-image: url(./byron-johnson-yl-elIjiDvU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 900px 1200px;
    height: 100vh;

}
.right {
 color: black;
}

.noob  {
    height: 100vh;
}
.accordion {
    color: black;
}
.accordion-body,.accordion-body strong {
    color: black;
}
