.spinner  {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #0000;	
	z-index: 99999;
}
.spinner img {
    display: flex;
    justify-content: center;
    align-items: center;
}